.tile {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 25px;
  height: 25px;
  margin: 0.5px;
  border-radius: 3px;
}

.wall {
  background: indianred;
}

.origin {
  background: lightseagreen;
}

.destination {
  background: deepskyblue;
}

.path {
  background: #fff898;
  animation: path-coloring 2s;
}

@keyframes path-coloring {
  0% {
    background: #a39857;
    transform: scale(1.3);
  }
  100% {
    background: #fff898;
  }
}

.shortest-path {
  background: #58ff82;
  animation: shortest-path-coloring 0.3s;
}

@keyframes shortest-path-coloring {
  0% {
    background: #4e8068;
    transform: scale(2);
  }
  100% {
    background: #58ff82;
  }
}
